/* Propriedades gerais */
* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 8px;
    height: 3px;
}

html {
    scroll-behavior: smooth;
}

h2, h3 {
    margin: 7px;
    font-family: 'Fondamento', cursive;
}

.divSeta {
    float: right;
    margin: 75px;
}

.fa-arrow-up  {
    font-size: 35px;
    color: red;
    cursor: pointer;
    animation: seta 1s infinite;
    position: fixed;
}

/* Animação da seta, o keyframe seta o movimento inicial e final da animação */
@keyframes seta {
    0% {
      bottom: 7%;
    }
    50% {
      bottom: 5%;
    }
    100% {
      bottom: 7%;
    }
}

/* -----------------------------------------------HEADER-------------------------------------------------------*/

.banner{
    height: 700px;   
    background-image: url(../img/background/Background-Main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;   

}

header {
    width: 100%;
    height: 75px;
    display: flex;
    position: absolute; 
    /* fixed */
}

header nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}


ul li {
    display: flex;
    align-items: center;
    margin: 0 35px 0 0;
}


li a {
    color: rgba(223, 6, 6, 0.904);
    font-size: 25px;
    margin-top: 40px;
}

.logo {
    height: 100px;
    margin: 20px 0 0 20px;
    float: left;
}

.home {
    margin-left: 80px;
}

.Login {
    margin: 25px 0 0 190px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    transition-duration: 600ms;
}

.iconLogin {
    width: 50px;
    margin-left: 45px;
}

b a {
    color: rgba(223, 6, 6, 0.904);
    margin-left: 40px;
}

b a:hover {
    text-decoration: underline;
}
nav a:hover, a.current {
    color: black;
}

.texto{
    font-family: 'Fondamento', cursive;
    position: relative;
    top: 250px;
    right: 300px;
    text-align: center;
    font-size: 25px;
}

.texto h1{
    font-size: 60px;
    margin: 0;
    color: black;
}

.texto h3{
    position: relative;
    color: red;
    margin: 0;
}

.sobre {
    font-family: 'Fondamento', cursive;
    position: relative;
    top: 275px;
    right: 310px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: rgba(223, 6, 6, 0.904);
}

/* -----------------------------------------------MAIN-------------------------------------------------------*/

.transicao1, .transicao2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
.transicao1{
    background-image: url('../img/background/Background-Animus1.jpg');
}
.transicao2 {
    background-image: url('../img/background/Background-Animus2.jpg');
}
.wiki-master {
    background-image: url('../img/background/Background-wiki.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.wiki-content {
    display: flex;
    align-items: center;
    color: white;
}

.barra-conteudo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    justify-content: space-evenly;
}
.conteudos {
    width: 285px;
    height: 45px;
    padding: 5px;
    color: red;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

.conteudos:hover {
    background-color: transparent;
}

.div-texto {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 900px;
    background-color: black;
    border: 2px solid whitesmoke;
    opacity: 0.8;
    margin-left: 100px;
}

.title {
    font-size: 25px;
    font-family: cursive;
    color: red;
    align-self: center;
    font-family: 'Fondamento', cursive;
}

.text-title {
    font-size: 25px;
    font-family: cursive;
    color: red;
    margin-left: 10%;
    font-family: 'Fondamento', cursive;
}

.textos{
    color: white ;
    margin: 0 10%;
}

/* -----------------------------------------------FOOTER-------------------------------------------------------*/
.Footer-pai {
    height: 60vh;
    background-image: url('../img/background/Background-footer.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.Footer-mae {
    display: flex;
    justify-content: center; 
    color: rgb(22, 22, 22);
    font-weight: bold;
}

.footer-div {
    width: 430px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer-p {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.login {
    color: red;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-family: 'Fondamento', cursive;
}

.footer-title {
    margin: -20px 0 0 0;
    font-family: 'Fondamento', cursive;
}

.redes-sociais {
    display: flex;
    margin-top: 20px;
}

.redes-sociais a {
    border: 4px solid transparent;
    padding: 3px;
    transition: 0.5s;
}
  
.redes-sociais a:hover {
    transition: 0.3s;
    border: 4px solid red;
}

.img_redessociais {
      width: 40px;
      height: 40px;
}

.classificacao {
    margin-left: 1350px;
    width: 90px;
}

.footer-end {
    height: 25px;
    color: rgb(186, 0, 211);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}   




